<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @Html.ActionLink("Register", "Register")
        @Html.ActionLink("Log in", "Login")
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
